- name: stage-deploy
  serial: true
  public: false
  plan:
  - aggregate:
    - get: tools
    - get: repo
    - get: m2
    - get: version
      resource: version
      passed:
      - <%= @passed %>
      trigger: false
  - task: stage-deploy
    file: tools/concourse/tasks/stage-deploy.yml
    params:
      <<: *common-params
      <<: *paas-stage-params
      PAAS_HOSTNAME_UUID: ((paas-hostname-uuid))

